<div class="center jambotrun">
    <h1>Welcome to My Recipes App</h1>
    
    <h2>My recipes app is dedicated to all members, those are intrested and trying new recipes.</h2>
    
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as a Guest user
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p>
            <%= link_to "Browse recipe listings", "", class: "btn btn-warning btn-small" %>
        </p>
    </div>
     <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as a Guest user
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p>
            <%= link_to "Browse recipe listings", "", class: "btn btn-warning btn-small" %>
        </p>
    </div>
     <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as a Guest user
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.</h2>
        <p>
            <%= link_to "Browse recipe listings", "", class: "btn btn-warning btn-small" %>
        </p>
    </div>
</div>